<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    span {
      color: turquoise;
    }
  </style>
</head>
<body>
  <div id="app">
    <p v-once>{{ message }}</p>
    <p>{{ message }}</p>
    <h2 v-html="html"></h2>
    <p>{{ 'Pesan: ' + pesan + ' 😊' }}</p>
    <p>{{ `number * 20 = ${number * 20}` }}</p>
    <p>{{ tes ? 'Ya!' : 'Tidak!' }}</p>
    <p>{{ pesan.split('').reverse().join('') }}</p>

    <!-- JS statement tidak boleh 👎 (hanya expression) -->
    <!-- <p>{{ var angka = 1 }}</p> -->
    <!-- <p>{{ if (pesan) { return 'Berhasil' } }}</p> -->
    <!-- <p>
      {{
        for (let i = 0; i < arr.length; i++) {
          const elemen = arr[i]
        }
      }}
    </p> -->

    <!-- <h1>{{ pesan }}</h1>
    <h2>— {{ author }}</h2> -->

    <p>{{ b }}</p>
    <p>{{ fullName }}</p>

    <!-- Mula sesi live -->
    <!-- <input type="text" v-model:value="pesanSesiLive"> -->
    <input type="text" v-model="pesanSesiLive">
    <!-- <input type="text" v-bind:value="bind"> -->
    <input type="text" :value="bind">
    <input type="text" :value="pesanSesiLive">
    <h3 v-html="pesanSesiLive"></h3>
    <h3 v-text="pesanSesiLive"></h3>

    <!-- <button v-on:click="switchChanged">Switch</button> -->
    <button @click="switchChanged">{{ switchTurn }}</button>
    <h1 v-show="switchTurn">{{ pesanSesiLive }}</h1>

    <p>{{ counter }}</p>
    <h3 v-if="counter < 6">Counter saat ini di bawah 6</h3>
    <h3 v-else-if="counter % 2 == 1">Counter GANJIL</h3>
    <h3 v-else>Counter ini tidak memenuhi kondisi</h3>

    <h2>Lis todo:</h2>
    <input type="text" placeholder="Tambah todo" v-model="taskBaru">
    <button @click="tambahTask">Tambah</button>
    <button @click="switchSelesai" v-if="selesai">Finis</button>
    <button @click="switchSelesai" v-else>Belum finis</button>
    <ul>
      <li v-for="butir in lisTodo">
        <s v-if="butir.selesai">{{ butir.task }}</s>
        <b v-else>{{ butir.task }}</b>
      </li>
    </ul>
    <ul>
      <li v-for="butir in task">
        <b>{{ butir.task }}</b>
      </li>
    </ul>

    <p>{{ kataKata }}</p>
    <h1>Saya ❤️‍🔥 bahasa Indonesia …</h1>
    <!-- Finis sesi live -->

    <p>{{ b2 }}</p>
     <p>{{ c(3) }}</p>
    <button onclick="vm.c3(2)">Klik saya</button>
    <p>{{ a3 }}</p>
    <button onclick="vm.notifikasi(vm.name)">Klik saya</button>

    <p>{{ pesan7 }}</p>
    <!-- <input type="text" v-bind:value="pesan7"> -->
    <input type="text" :value="pesan7">
    <p>{{ pesan7B }}</p>
    <!-- <input type="text" v-model:value="pesan7B"> -->
    <input type="text" v-model="pesan7B">
  </div>

  <!-- Versi development, berisi peringatan [console] yang sangat membantu -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var template = `<div>
  <h1>{{ pesan }}</h1>
  <h2>— {{ author }}</h2>
</div>`

    var vm = new Vue({
      el: '#app',
      data: {
        message: 'Bismillah',
        html: '<span style="color: green;">Lis Tahfiz</span>',
        pesan: 'Jangan lupa salat …',
        number: 30000,
        tes: true,
        arr: [1, 2, 4],
        author: 'Muhammad Alif',
        a: 1,
        // b: this.a + 2, // Tidak bisa 🙅
        firstName: 'Muhammad',
        lastName: 'Alif',

        // Mula sesi live
        pesanSesiLive: '<span>Sesi live~</span>',
        bind: 'Saya ter-bind oleh sistem',
        switchTurn: true,

        counter: 0,

        taskBaru: '',
        lisTodo: [
          {'selesai': true, task: 'Belajar Vue.js di PKS DS'},
          {'selesai': false, task: 'Siram tanaman di kebun'},
          {'selesai': false, task: 'Beli bibit'},
        ],
        wadahTask: [],
        selesai: true,

        kataPertama: '',
        kataSisa: '',
        // Finis sesi live

        a2: 1,
        a3: 1,
        name: 'Muhammad Alif',

        pesan7: 'Jangan lupa zakat …',
        pesan7B: 'Jangan lupa zakat … ✌️',
      },
      // template: template,
      computed: {
        b: function() {
          return this.a + 2
        },
        // Template literal nggak bisa langsung => 🤔
        // Dari sesi live: Arrow function nggak bisa di object!
        // fullName: () => `${this.firstName} ${this.lastName}`,

        // … but it has no setter.
        // fullName: function() {
        //   return `${this.firstName} ${this.lastName}`
        // },

        fullName: {
          get: function() {
            return `${this.firstName} ${this.lastName}`
          },
          set: function(ara) {
            let arr = ara.split(' ')

            this.firstName = arr[0]
            this.lastName = arr[1]
          },
        },

        b2() {
          return this.a2 + 1
        },

        // Mula sesi live
        task() {
          this.wadahTask = this.lisTodo.filter(this.filterTask)

          return this.wadahTask
        },

        kataKata: {
          get() {
            return this.kataPertama
                + (this.kataSisa ? ' ' : '')
                + this.kataSisa
          },
          set(kataKata) {
            const arr = kataKata.split(' ')

            this.kataPertama = arr[0]
            this. kataSisa = ''

            for (let i = 1; i < arr.length; i++) {
              this.kataSisa += arr[i]
                  + (i == arr.length - 1 ? '' : ' ')
            }
          },
        },
        // Finis sesi live
      },
      methods: {
        // Mula sesi live
        // Arrow function nggak bisa di object!
        // switchChanged: () => {
        //   this.switchTurn = !this.switchTurn
        // }
        switchChanged: function() {
          this.switchTurn = !this.switchTurn

          this.counter++
        },

        tambahTask() {
          // this.lisTodo.push({'selesai': false, 'task': this.taskBaru})
          this.lisTodo.push({'selesai': this.selesai, 'task': this.taskBaru})
          this.taskBaru = ''
        },
        filterTask(lisTodo) {
          return lisTodo.selesai == this.selesai
        },
        switchSelesai: function() {
          this.selesai = !this.selesai
        },
        // Finis sesi live

        c(angka) {
          // return this.a + 1
          return this.a + angka
        },
        c3(angka) {
          this.a3 += angka
        },
        notifikasi(ara) {
          alert(ara)
        },
      },
    })
  </script>
</body>
</html>
